In [62]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [63]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sopot,PL,2020-04-19 01:19:50,54.44,18.56,36.00,86,0,3.36
1,1,Mancio Lima,BR,2020-04-19 01:19:50,-7.61,-72.90,70.99,75,21,2.08
2,2,Faanui,PF,2020-04-19 01:09:40,-16.48,-151.75,82.78,74,25,10.63
3,3,Bredasdorp,ZA,2020-04-19 01:09:26,-34.53,20.04,46.40,93,68,3.36
4,4,Punta Arenas,CL,2020-04-19 01:08:30,-53.15,-70.92,46.40,65,40,19.46

In [64]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [65]:
# Heatmap of temperature

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [70]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Faanui,PF,2020-04-19 01:09:40,-16.48,-151.75,82.78,74,25,10.63
8,8,Rikitea,PF,2020-04-19 01:10:13,-23.12,-134.97,77.41,70,42,5.93
9,9,Port Hedland,AU,2020-04-19 01:19:55,-20.32,118.57,87.80,66,83,8.05
18,18,Les Cayes,HT,2020-04-19 01:19:58,18.20,-73.75,79.57,78,17,5.35
20,20,Vanimo,PG,2020-04-19 01:13:11,-2.67,141.30,84.67,72,95,4.07
...,...,...,...,...,...,...,...,...,...,...
567,567,Kapoeta,SS,2020-04-19 01:24:36,4.77,33.59,78.58,52,100,5.44
569,569,Boa Vista,BR,2020-04-19 01:19:43,2.82,-60.67,77.00,73,75,13.87
570,570,Lobito,AO,2020-04-19 01:24:37,-12.35,13.55,78.24,86,91,4.61
571,571,Hirara,JP,2020-04-19 01:24:37,24.80,125.28,78.80,83,75,18.34
573,573,Banjar,ID,2020-04-19 01:23:31,-8.19,114.97,86.00,84,20,2.24

In [71]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [72]:
preferred_cities_df_adj=preferred_cities_df.dropna()
preferred_cities_df_adj

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Faanui,PF,2020-04-19 01:09:40,-16.48,-151.75,82.78,74,25,10.63
8,8,Rikitea,PF,2020-04-19 01:10:13,-23.12,-134.97,77.41,70,42,5.93
9,9,Port Hedland,AU,2020-04-19 01:19:55,-20.32,118.57,87.80,66,83,8.05
18,18,Les Cayes,HT,2020-04-19 01:19:58,18.20,-73.75,79.57,78,17,5.35
20,20,Vanimo,PG,2020-04-19 01:13:11,-2.67,141.30,84.67,72,95,4.07
...,...,...,...,...,...,...,...,...,...,...
567,567,Kapoeta,SS,2020-04-19 01:24:36,4.77,33.59,78.58,52,100,5.44
569,569,Boa Vista,BR,2020-04-19 01:19:43,2.82,-60.67,77.00,73,75,13.87
570,570,Lobito,AO,2020-04-19 01:24:37,-12.35,13.55,78.24,86,91,4.61
571,571,Hirara,JP,2020-04-19 01:24:37,24.80,125.28,78.80,83,75,18.34
573,573,Banjar,ID,2020-04-19 01:23:31,-8.19,114.97,86.00,84,20,2.24

In [73]:
#create dataframe hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df_adj[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp    Lat     Lng Hotel Name
2          Faanui      PF     82.78 -16.48 -151.75
8         Rikitea      PF     77.41 -23.12 -134.97
9    Port Hedland      AU     87.80 -20.32  118.57
18      Les Cayes      HT     79.57  18.20  -73.75
20         Vanimo      PG     84.67  -2.67  141.30
..            ...     ...       ...    ...     ...        ...
567       Kapoeta      SS     78.58   4.77   33.59
569     Boa Vista      BR     77.00   2.82  -60.67
570        Lobito      AO     78.24 -12.35   13.55
571        Hirara      JP     78.80  24.80  125.28
573        Banjar      ID     86.00  -8.19  114.97

[167 rows x 6 columns]

In [74]:

# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#iterate through dataframe
for index, row in hotel_df.iterrows():
    #get latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #add the latitude and longitude to location key for the params dictionary in gmaps
    params["location"] = f"{lat},{lng}"

    
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [75]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Faanui,PF,82.78,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
8,Rikitea,PF,77.41,-23.12,-134.97,Pension Maro'i
9,Port Hedland,AU,87.80,-20.32,118.57,The Esplanade Hotel
18,Les Cayes,HT,79.57,18.20,-73.75,Villa Orphee
20,Vanimo,PG,84.67,-2.67,141.30,Vahmoneh Lodge Vanimo
...,...,...,...,...,...,...
567,Kapoeta,SS,78.58,4.77,33.59,Eastgate Hotel
569,Boa Vista,BR,77.00,2.82,-60.67,Aipana Plaza Hotel
570,Lobito,AO,78.24,-12.35,13.55,Casa Rosa Hotel Residence
571,Hirara,JP,78.80,24.80,125.28,Hotel Atoll Emerald Miyakojima
573,Banjar,ID,86.00,-8.19,114.97,The Hamsa Resort

In [76]:
#add heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
#add heatmap of temperature for vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))